<div class="container-principal">
    <div class="presentacion">
        <div class="logo">
            <img src="../../../../assets/logo-lain.svg" alt="">
            <h1>Lain Guide</h1>
        </div>
        <p>Ingresar es muy sencillo , puedes <br> usar una cuenta de Google o algún <br> correo </p>
        <div class="register-google">
            <img src="../../../../assets/google.svg" alt="" class="google">
            <p>Registro con Google</p>
        </div>
    </div>
    <div class="container-form">
        <div class="inputLogin">
            <p>Empieza Ahora!</p>
            <input type="text" placeholder="Correo" class="email">
            <input type="text" placeholder="Contraseña" class="password">
            <button type="submit">
                <p>Ingresar</p>
            </button>
        </div>
    </div>

</div>