<div class="container-principal">
  <div class="hero">
    <!-- <img src="../../../../assets/bg1920.svg" alt="">
        <img src="../../../../assets/bgtablet.svg" alt="">
        <img src="../../../../assets/bgphone.svg" alt=""> -->

    <div class="iniciarButton" (click)="goLogin()">
      <p>Iniciar Sesion</p>
    </div>

    <div class="container-presentacion">
      <div class="presentacion">
        <img src="../../../../assets/logo-lain.svg" alt="" />
        <h1>Lain Guide</h1>
        <p>
          Mucho mas que memorizar <br />
          aprendamos juntos
        </p>
      </div>
    </div>
    <!-- <div class="registrarContainer"> -->
    <!-- <img src="../../../../assets/boy.svg" alt=""> -->
    <div class="registrarButton" (click)="goRegister()">
      <p>Registrarme ahora</p>
      <p>Registrarse</p>
    </div>

    <!-- <img src="../../../../assets/girl.svg" alt=""> -->
    <!-- </div> -->
  </div>
</div>
<router-outlet></router-outlet>
